Body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    color: white;
    background-color: rgb(41, 57, 194);
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

form {
    width: 500px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 3%;
    margin: 20vh auto 0 auto;
    padding: 30px;
    font-size: 12px;
    position: relative;
    bottom: 80px;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 15px;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}


.container {
    padding: 10px;
    background-color: whitesmoke;
    font-size: 15px;
}

.username {

    font-size: 15px;
}

h1 {

    color: black;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 15px;
    height: 13px;
}

h1 {

    color: #0f2027;
    text-align: center;
}